{% extends "base.html" %}
{% block content %}
<style>
.right {
  position: absolute;
  right: 0px;
  width: 450px;
  height:600px;
  padding: 10px;
  background-color: white;
}
</style>
<iframe src='https://webchat.botframework.com/embed/eventPlanner1?s=yBY2D4Ms5Pw.cwA.-mg.-5DfIetkxtl_s4g7v6_2VTgkuA1jKeLAzEZmQQkcaO4' class='right'></iframe>

<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
<div class="text-info">
  <table class="table table-sm table-inverse">
    {{ form.as_table }}

  </table>
  <input class="btn btn-primary" type="submit" value="Add Event">
</div>
</form>
{% endblock %}
