<div class="post media">
	<font size="+3"><h3>{{ post.message_html|safe }}</h3></font>
	<div class="media-body">
		<font size="+3"><strong>{{ post.user.username }}</strong></font>
		<h5 class="media-heading">
			<span class="username"><a href="{% url 'posts:for_user' username=post.user.username %}"><font size="+3">@{{ post.user.username }}</font></a></span>
			<time class="time"><a href="{% url 'posts:single' username=post.user.username pk=post.pk %}"><font size="+3">{{ post.created_at }}</font></a></time>
			{% if post.group %}
			<font size="+3"><span class="group-name">in <a href="#">{{ post.group.name }}</a></span></font>
			{% endif %}
		</h5>
		<a href = "{% url 'posts:changeUpCount' %}?param1={{ post.message }}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-thumbs-up" ></span>  Like | {{post.upvoteCount}}</a>
		<a href = "{% url 'posts:changeDownCount' %}?param1={{ post.message }}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-thumbs-down" ></span>  Dislike | {{post.downvoteCount}}</a>




		<div class="media-footer">
			{% if user.is_authenticated and post.user == user and not hide_delete %}
				<a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-danger">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					<span class=" icon-label">Delete</span>
				</a>
			{% endif %}
		</div>
	</div>
</div>
